
<div class = "hdiv_type"> 
    <p>High dividend stocks</p>
    <ul>
      <% 10.times  do |i| index = @hdiv.length-1-i %>
      <li>
      Name: <%= @hdiv[index][2] %>,     Symbol: <%= @hdiv[index][0] %>,     Dividend (%): <%= @hdiv[index][1] %>,   Price: <%= @hdiv[index][3] %>,  Change: <%= @hdiv[index][4] %>
      </li>
      <% end %>
    </ul>
</div>

<div class = "value_type"> 
    <p>Value stocks</p>
    <ul>
      <% 10.times  do |i| %>
      <li>
      Name: <%= @value[i][2] %>,     Symbol: <%= @value[i][0] %>,     PE (Price/Earnings): <%= @value[i][1] %>,   Price: <%= @value[i][3] %>,  Change: <%= @value[i][4] %>
      </li>
      <% end %>
    </ul>
</div>


<div class = "growth_type"> 
    <p>High growth stocks</p>
    <ul>
      <% 10.times  do |i| index = @growth.length-1-i %>
      <li>
      Name: <%= @growth[index][2] %>,     Symbol: <%= @growth[index][0] %>,     Growth (%): <%= @growth[index][1] %>,   Price: <%= @growth[index][3] %>,  Change: <%= @growth[index][4] %>
      </li>
      <% end %>
    </ul>
</div>

<div class = "combination_type"> 
  <% if @combination %>
  <p>Combined methods stocks</p>
  <ul>
    <% @combination.each do |loop_stock|%>
    <li>
      Name: <%= loop_stock[2] %>,     Symbol: <%= loop_stock[0] %>,     Growth (%): <%= loop_stock[1] %>,     Dividend (%): <%= loop_stock[5] %>,     PE (Price/Earnings): <%= loop_stock[6] %>,   Price: <%= loop_stock[3] %>,  Change: <%= loop_stock[4] %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no stocks to satisfy the conditions</p>
  <% end %>
</div>
