<h3>Welcome back <%= current_user.username.capitalize %>!</h3>
<div class = "user_info">
  <%if @stock%>
    <p>Here is the list of your favorite stocks</p>
    <ul>
      <% @stock.each  do |current_stock| %>
      <li>
      Name: <%= current_stock.name %>, Symbol: <%= current_stock.symbol %>,   Price: <%= current_stock.bid %>, Change: <%= current_stock.percent_change %>
      </li>
      <% end %>
    </ul>
  <%else%>
    <p>You have do not have favorite stocks.</p>
  <%end%>
  <h2>Please select the investment you wish to make.</h2>
  <form>
  	<input class = "investment_type" id = 'hdiv_type' type="submit" value="High dividend">
  	<input class = "investment_type" id = 'value_type' type="submit" value="Value">
  	<input class = "investment_type" id = 'growth_type' type="submit" value="Growth">
  	<input class = "investment_type" id = 'combination_type' type="submit" value="Combination">	
  </form>
</div>
<div id = "spage">
</div>